.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  color:rgb(35, 34, 34);

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .title-group {
    padding-left: 1rem;
  }

  .logo {
    max-height: 32px;
  }

  > span {
    font-weight: 300;
    font-size: 1rem;
  }
}